
h3{
    color: lightcoral;
    border: 2px solid dimgray;
 /*   background-color: dimgrey;*/
}
body{
    margin:0px;
}

.menu{
    
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #808080;
    /*padding property */
    padding:50px;
}
body{
    background-color:#f7f2f2; /*rgb(247,242,242) - shade of white*/
    
}
p{
    font-family: comic sans ms;
    font-weight: italic;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
    margin:50px;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {

    border: 2px solid black;
    border-radius: 20px;
    background-color:lightgoldenrodyellow;
    width:310px;
    font-family: fantasy;
    margin:10px;
    padding:25px;
    
}

.heading{
    position:absolute;
    text-align:top;
    top: 44%;
    left: 50%;
    color:white;
   transform: translate(-50%, -60%);
}

.desc {
 
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ol,ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}